.section {
  display: flex;
  align-items: center;
}

.homeHeroImage {
  flex-shrink: 0;
  width: 55%;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .sun {
    position: absolute;
    width: 9vw;
    height: 7.8vw;
    bottom: -2.1vw;
    right: 10.8vw;
  }
}

.homeHeroImageMobile {
  display: none;
}

.content {
  position: relative;
  h1 {
    position: relative;
    font-family: Futura PT;
    font-weight: 450;
    font-size: 5vw;
    line-height: 90%;
    letter-spacing: -3px;
    text-align: center;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 1.6vw;

    .svg {
      position: absolute;
      right: 4vw;
      top: 0;
      width: 3.4vw;
      height: auto;
    }

    span {
      position: relative;
      font-family: "First Time Writing!";
      font-weight: 800;
      font-size: 3.6vw;
      line-height: 90%;
      letter-spacing: -0.3vw;
      text-align: center;
      color: var(--primary-pink);

      svg {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -0.7vw;
      }
    }
  }

  p {
    font-family: Moderustic;
    font-weight: 400;
    font-size: 1vw;
    line-height: 135%;
    text-align: center;
    margin-bottom: 2.5vw;
  }

  .btn {
    display: block;
    position: relative;
    font-family: Futura PT;
    font-weight: 500;
    font-size: 1vw;
    line-height: 100%;
    padding: 1.6vw 3.7vw;
    border-radius: 5.2vw;
    background-color: var(--primary-pink);
    color: rgba(253, 248, 245, 1);
    margin: 0 auto;
    transition: background-color 0.3s;
    cursor: pointer;

    div {
      position: absolute;
      top: 0;
    }

    svg {
      height: 4.3vw;
      width: auto;
    }

    .first {
      left: -3.5vw;
      transform: rotate(180deg);
    }

    .second {
      right: -3.5vw;
    }
  }

  .btn:hover {
    background-color: var(--primary-pink-hover);
  }

  .worm {
    position: absolute;
    right: 2.6vw;
    bottom: -18vw;
    width: 6vw;
    height: 4.2vw;
  }

  .plate {
    position: absolute;
    top: -7vw;
    right: 2.6vw;
    width: 4.3vw;
    height: 3.8vw;
  }
}

@media screen and (max-width: 1024px) {
  .section {
    flex-direction: column;
  }

  .homeHeroImage {
    display: none;
  }

  .homeHeroImageMobile {
    display: block;
    width: 100vw;
    margin-bottom: 12.8vw;
  }

  .content {
    padding-left: 4.3vw;
    padding-right: 4.3vw;
    h1 {
      font-size: 10.7vw;
      margin-bottom: 6.9vw;
      letter-spacing: -1px;
      line-height: 0.9;
      font-weight: 500;

      svg {
        display: none;
      }

      span {
        font-size: 8.5vw;
        svg {
          bottom: -1.1vw;
          display: block;
        }
      }
    }

    p {
      font-size: 3.7vw;
      margin-bottom: 10.1vw;
    }

    .btn {
      width: 67.7vw;
      height: 16vw;
      border-radius: 26.7vw;
      font-size: 4.3vw;

      svg {
        height: 16vw;
      }

      .first {
        left: -12vw;
      }
      .second {
        right: -12vw;
      }
    }

    .plate {
      display: none;
    }

    .worm {
      display: none;
    }
  }
}
