@keyframes rotate {
  0% {
    transform: rotateZ(10deg);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.8vw);
  }
  100% {
    transform: translateY(0);
  }
}

.section {
  background-color: var(--primary-pink);
  padding: 7vw 0;
}

.contentBlock {
  position: relative;

  .cornerSvg {
    position: absolute;
    width: 6.5vw;
    bottom: 0;
    right: 0;
  }

  h2 {
    position: relative;
    font-family: Futura PT;
    font-weight: 600;
    font-size: 3.3vw;
    line-height: 100%;
    color: rgba(255, 244, 241, 1);
    max-width: 32vw;
    margin-bottom: 3.1vw;

    .svg {
      width: 2vw;
      position: absolute;
      right: 0.5vw;
      top: -0.5vw;
      animation: rotate 3s ease-in-out infinite;
    }

    span {
      position: relative;
      font-family: "First Time Writing!";
      font-weight: 600;
      font-size: 2.8vw;
      line-height: 90%;
      color: var(--primary-yellow);

      svg {
        position: absolute;
        width: 100%;
        left: 0;
      }
    }
  }

  button {
    font-family: Futura PT;
    font-weight: 500;
    font-size: 1vw;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(51, 51, 51, 1);
    padding: 1.6vw 3.7vw;
    border-radius: 5.2vw;
    background-color: var(--primary-yellow);
    transition: background-color 0.3s;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--primary-yellow-hover);
  }
}

.topBlock {
  display: grid;
  grid-template-columns: 33.7vw 36.5vw;
  max-width: 80.3vw;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 5.2vw;

  .imageBlockMobile {
    display: none;
  }
}

.textBlock {
  margin-bottom: 3.1vw;

  p {
    font-family: Moderustic;
    font-weight: 500;
    font-size: 0.9vw;
    line-height: 135%;
    letter-spacing: -2%;
    color: rgba(255, 244, 241, 1);
  }

  p:not(:last-child) {
    margin-bottom: 1.2vw;
  }
}

.imageBlock {
  position: relative;
  img {
    object-position: 0 -1px;
    height: 100%;
    object-fit: cover;
  }

  .palte {
    position: absolute;
    width: 4.3vw;
    height: auto;
    top: -1vw;
    right: -1.3vw;
    animation: levitate 4s ease-in-out infinite;
  }
}

.bottomBlock {
  max-width: 80.3vw;
  margin: 0 auto;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5vw;

    li {
      background-color: rgba(254, 251, 250, 1);
      padding: 1.8vw 2.6vw;

      span {
        display: block;
        text-align: center;
        margin-bottom: 0.6vw;
        font-family: "First Time Writing!";
        font-weight: 600;
        font-size: 2.2vw;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(51, 51, 51, 1);
        -webkit-text-stroke-width: 0.02vw;
      }

      p {
        font-family: Moderustic;
        font-weight: 400;
        font-size: 0.9vw;
        line-height: 135%;
        text-align: center;
        color: rgba(51, 51, 51, 1);
      }
    }
  }
}
.clouds {
  display: none;
}

@media screen and (max-width: 1024px) {
  .section {
    padding: 21.3vw 0;
    position: relative;
    overflow: hidden;

    .topBlock {
      grid-template-columns: 1fr;
      max-width: none;
      margin: 0;

      .imageBlock {
        display: none;
      }

      .imageBlockMobile {
        position: relative;
        display: block;
        margin-bottom: 8vw;

        img {
          object-position: 0 -1px;
          height: 83.2vw;
          object-fit: cover;
        }

        .palte {
          position: absolute;
          width: 13.3vw;
          height: auto;
          top: -5vw;
          right: -3.5vw;
          animation: levitate 4s ease-in-out infinite;
        }
      }

      .clouds {
        display: block;
        .cloud1,
        .cloud2 {
          position: absolute;
          z-index: 9;
          animation: levitate 6s ease-in-out infinite;
        }

        .cloud1 {
          width: 29.9vw;
          top: -9vw;
          left: -15vw;
        }

        .cloud2 {
          width: 29.9vw;
          top: 125vw;
          right: -15vw;
        }
      }

      .contentBlock {
        .cornerSvg {
          display: none;
        }

        h2 {
          font-size: 9.6vw;
          max-width: none;
          margin-bottom: 9.6vw;
          letter-spacing: -0.3vw;

          svg {
            width: 8.7vw;
            top: -5.5vw;
            right: -2.5vw;
          }
        }

        span {
          position: relative;
          font-size: 32px;

          svg {
            width: 100%;
            position: absolute;
            left: 0;
            top: 10vw;
          }
        }

        .textBlock {
          margin-bottom: 8.5vw;

          p {
            font-size: 3.7vw;
          }

          p:not(:last-child) {
            margin-bottom: 4.3vw;
          }
        }

        button {
          display: none;
        }
      }
    }

    .bottomBlock {
      max-width: none;

      ul {
        grid-template-columns: 1fr;
        gap: 4.3vw;
        li {
          padding: 6.4vw 0;

          span {
            font-size: 6.9vw;
            -webkit-text-stroke-width: 0.2vw;
          }

          p {
            font-size: 3.7vw;
            max-width: 55.2vw;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
