.languages {
  display: flex;
  gap: 4.3vw;
  margin-bottom: 10.7vw;

  font-family: Moderustic;
  font-size: 4.8vw;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: -2%;
  text-align: left;

  li {
    opacity: 0.3;

    img {
      position: absolute;
    }
  }

  li.active {
    opacity: 1;
    color: rgb(255, 145, 178);

    img {
      display: block;
    }
  }
}
