.section {
  padding: 13.2vw 0 11.3vw;
}

.sectionSelection {
  padding-bottom: 4vw;
  padding-top: 4vw;
}

.title {
  font-family: Futura PT;
  font-weight: 500;
  font-size: 3.3vw;
  line-height: 100%;
  letter-spacing: -2px;
  margin: 0 auto;
  width: 35vw;
  text-align: center;
  margin-bottom: 6.3vw;
  color: rgba(51, 51, 51, 1);

  span {
    font-family: "First Time Writing!";
    font-weight: 600;
    font-size: 2.8vw;
    line-height: 90%;
    letter-spacing: -1%;
    text-align: center;
    color: var(--primary-pink);
  }

  p {
    display: inline;
    font-family: "Roboto";
  }
}

.sectionSelection .title {
  margin-bottom: 1.6vw;
}

.list {
  display: flex;
  justify-content: space-between;
  gap: 3.1vw;

  li {
    position: relative;
  }

  img {
    width: 2.8vw;
    height: auto;
    margin-bottom: 0.6vw;
  }

  h3 {
    font-family: Moderustic;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 135%;
    letter-spacing: -2%;
    margin-bottom: 0.6vw;
  }

  p {
    font-family: Moderustic;
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 135%;
    letter-spacing: -2%;
  }

  span {
    position: absolute;
    right: 1vw;
    font-family: "First Time Writing!";
    font-weight: 600;
    font-size: 0.8vw;
    line-height: 90%;
    letter-spacing: -1%;
    text-align: center;
    color: var(--primary-pink);
    width: 5vw;
    top: 2.8vw;
    transform: rotate(-10deg);
  }
}

.desc {
  font-family: Moderustic;
  font-weight: 400;
  font-size: 1vw;
  line-height: 135%;
  text-align: center;
  color: rgba(51, 51, 51, 1);
  max-width: 52vw;
  margin: 0 auto;
  margin-bottom: 3.8vw;
}

.sectionSelection .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 75.5vw;
  margin: 0 auto;
}
