.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6vw;

  a {
    background-color: var(--primary-pink);
    height: 100%;

    padding: 1.2vw 1.6vw;
    border-radius: 5.2vw;
    font-family: Futura PT;
    font-weight: 500;
    font-size: 1vw;
    line-height: 100%;
    color: white;
    transition: background-color 0.3s;
  }

  a:hover {
    background-color: var(--primary-pink-hover);
  }
}

.controller {
  display: flex;
  gap: 0.8vw;
}

.unactive {
  .controller {
    visibility: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .panel.unactive {
    display: none;
  }

  .panel {
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;

    .controller {
      width: 100%;
      flex-direction: column;
      gap: 2.1vw;

      div {
        width: 100%;

        button {
          padding: 6.4vw;
          font-size: 4.3vw;
          border-radius: 6.4vw;

          svg {
            width: 4.3vw;
            height: 4.3vw;
          }
        }
      }
    }

    a {
      display: flex;
      justify-content: center;
      width: 100%;
      height: fit-content;
      padding: 4.7vw 0;
      border-radius: 26.7vw;

      font-family: Futura PT;
      font-size: 4.8vw;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: left;
    }
  }
}
