.formBlock {
  background-color: rgba(254, 251, 250, 1);
  border-radius: 2.6vw;
  max-width: 52vw;
  margin: 0 auto;
  padding: 3.1vw;
}

.formTitle {
  text-align: center;
  font-family: Moderustic;
  font-weight: 400;
  font-size: 1vw;
  line-height: 135%;
  margin-bottom: 2.5vw;
}

.inputLine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.8vw;
  margin-bottom: 1.6vw;
}

.checkboxGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8vw;
  margin-bottom: 2.5vw;
}

.checkboxItem {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.6vw;
  background-color: rgba(51, 51, 51, 0.03);
  border-radius: 0.5vw;
  padding: 0.8vw 1.2vw;
  cursor: pointer;

  input {
    position: absolute;
    left: 0;
  }
}

.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.customCheckbox {
  width: 1.2vw;
  height: 1.2vw;
  border: 2px solid rgba(51, 51, 51, 1);
  border-radius: 0.3vw;
  background-color: transparent;
  transition: 0.2s ease;
  position: relative;
  flex-shrink: 0;
}

.hiddenCheckbox:checked + .customCheckbox::after {
  content: "";
  position: absolute;
  top: 0.2vw;
  left: 0.3vw;
  width: 0.3vw;
  height: 0.6vw;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.employmentBlock {
  p {
    font-family: Moderustic;
    font-weight: 500;
    font-size: 0.7vw;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 1.2vw;

    span {
      color: red;
    }
  }
}

.submitBtn {
  font-family: Futura PT;
  font-weight: 500;
  font-size: 1vw;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  padding: 1.6vw;
  background-color: var(--primary-pink);
  width: 100%;
  color: rgba(253, 248, 245, 1);
  border-radius: 5.2vw;
  transition: background-color 0.3s;
  cursor: pointer;
  margin-bottom: 0.8vw;
}

.submitBtn:hover {
  background-color: var(--primary-pink-hover);
}

.note {
  font-family: Moderustic;
  font-weight: 400;
  font-size: 0.7vw;
  line-height: 139%;
  text-align: center;
  max-width: 30vw;
  margin: 0 auto;
  color: rgba(51, 51, 51, 0.4);

  a {
    text-decoration: underline;
  }

  a:hover {
    color: black;
  }
}

@media screen and (max-width: 1024px) {
  .formBlock {
    padding: 6.4vw;
    max-width: 89.9vw;

    .formTitle {
      display: none;
    }

    .form {
      .inputLine {
        grid-template-columns: 1fr;
        gap: 5.9vw;
        margin-bottom: 5.9vw;

        .inputContainer {
          label {
            font-size: 3.7vw;

            input {
              padding: 5.3vw 6.4vw;
              margin-top: 3.2vw;
              border-radius: 2.7vw;

              font-size: 3.7vw;
            }

            input::placeholder {
              font-size: 3.7vw;
            }
          }
        }
      }

      .employmentBlock {
        margin-bottom: 9.6vw;

        p {
          font-size: 3.7vw;
          margin-bottom: 3.2vw;
        }

        .swiper {
          margin-bottom: 4.3vw;

          .swiperSlide {
            max-width: 67.2vw;
          }

          .checkboxItem {
            padding: 5.3vw 6.4vw;
            gap: 3.2vw;
            border-radius: 2.7vw;
            font-size: 3.7vw;
          }

          .customCheckbox {
            width: 5.3vw;
            height: 5.3vw;
            border-radius: 1.6vw;
          }
        }

        .paginationCont {
          display: flex;
          justify-content: center;
          p {
            background-color: black;
          }
        }
      }

      .hiddenCheckbox:checked + .customCheckbox::after {
        width: 2.7vw;
        height: 2.7vw;
        top: 0.5vw;
        left: 0.5vw;
      }

      .submitBtn {
        padding: 5.9vw;
        margin-bottom: 3.2vw;
        border-radius: 26.7vw;

        font-size: 4.3vw;
      }

      .note {
        font-size: 3.2vw;
        max-width: none;
      }
    }
  }
}
