.tariffs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6vw;

  .tariff:nth-child(1) {
    background-color: rgba(254, 251, 250, 1);
    border: 2px solid var(--primary-blue);

    button {
      background-color: var(--primary-blue);
      color: rgba(51, 51, 51, 1);
    }

    button:hover {
      background-color: var(--primary-blue-hover);
    }
  }
  .tariff:nth-child(2) {
    background-color: var(--primary-yellow);
    border: 2px solid white;

    button {
      background-color: var(--primary-pink);
      color: rgba(254, 251, 250, 1);
    }

    button:hover {
      background-color: var(--primary-pink-hover);
    }
  }
}

.tariff {
  padding: 2.3vw;
  width: 30vw;

  ul {
    margin-bottom: 2vw;
  }

  h3 {
    font-family: Moderustic;
    font-weight: 700;
    font-size: 2vw;
    line-height: 100%;
    letter-spacing: -2%;
    text-transform: uppercase;
    text-align: center;
    color: rgba(21, 21, 21, 1);
    margin-bottom: 2.1vw;
  }

  li {
    display: flex;
    /* align-items: center; */
    gap: 0.8vw;
    font-family: Moderustic;
    font-weight: 400;
    font-size: 1vw;
    line-height: 135%;
    /* text-align: center; */

    svg {
      transform: translateY(0.2vw);
      width: 1rem;
      min-width: 1rem;
    }
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4rem;
        span:nth-child(2) {
          font-size: 0.8vw;
          opacity: 0.4;
      }
    }
  }

  .grey {
    opacity: 0.4;
  }

  li:not(:last-child) {
    margin-bottom: 0.8vw;
  }

  .price {
    margin-bottom: 2vw;

    span {
      display: block;
      text-align: center;
    }

    span:nth-child(1) {
      font-family: Moderustic;
      font-weight: 400;
      font-size: 1vw;
      line-height: 135%;
      text-transform: uppercase;
      margin-bottom: 0.6vw;
    }

    span:nth-child(2) {
      font-family: Moderustic;
      font-weight: 700;
      font-size: 2vw;
      line-height: 100%;
    }
  }

  button {
    display: block;
    font-family: Futura PT;
    font-weight: 500;
    font-size: 1vw;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 1.6vw 3.7vw;
    border-radius: 5.2vw;
    transition: background-color 0.3s;
    cursor: pointer;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .tariffs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4.26vw;
  }
  
  .tariff {
    padding: 6.4vw;
    width: 91.4vw;
  
    ul {
      margin-bottom: 6.4vw;
    }
  
    h3 {
      font-size: 6.4vw;
      margin-bottom: 6.4vw;
    }
  
    li {
      display: flex;
      gap: 4.26vw;
      font-family: Moderustic;
      font-weight: 400;
      font-size: 4.26vw;
      line-height: 135%;
  
      svg {
        transform: translateY(1.2vw);
        width: 2.66vw;
        min-width: 2.66vw;
      }
    }
  
    .grey {
      opacity: 0.4;
    }
  
    li:not(:last-child) {
      margin-bottom: 3.2vw;
    }
  
    .price {
      margin-bottom: 6.4vw;
  
      span:nth-child(1) {
        font-family: Moderustic;
        font-weight: 400;
        font-size: 4.8vw;
        line-height: 135%;
        text-transform: uppercase;
        margin-bottom: 2.13vw;
      }
  
      span:nth-child(2) {
        font-size: 8.5vw;
      }
    }
  
    button {
      display: block;
      font-family: Futura PT;
      font-weight: 500;
      font-size: 4.26vw;
      padding: 5.8vw;
      border-radius: 15.2vw;
      width: 100%;
    }
  }
}