@import "tailwindcss";

:root {
  --background: rgba(255, 244, 241, 1);
  --foreground: #171717;
  --desc: rgba(51, 51, 51, 0.6);
  --primary-pink: rgba(255, 145, 178, 1);
  --primary-yellow: rgba(255, 249, 193, 1);
  --primary-yellow-hover: rgb(236, 222, 95);
  --primary-blue: rgba(172, 226, 255, 1);
  --primary-blue-hover: rgba(42, 155, 252, 1);
  --primary-pink-hover: rgba(255, 84, 136, 1);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 4vw;
}

input {
  display: block;
  width: 100%;
  font-family: Moderustic;
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 100%;
  padding: 0.8vw 1.2vw;
  border: none;
  outline: none;
  background-color: rgba(51, 51, 51, 0.03);
  border-radius: 0.5vw;
  margin-top: 0.6vw;
}

label {
  font-family: Moderustic;
  font-weight: 500;
  font-size: 0.7vw;
  line-height: 100%;
  letter-spacing: 0%;

  span {
    font-weight: 700;
    color: #f00;
    opacity: 1;
  }
}

input::placeholder {
  color: rgba(51, 51, 51, 0.3);
}

.error > div {
  border: 1px solid red !important;
  border-radius: 0.5vw;
}

.container {
  max-width: 93.7vw;
  margin: 0 auto;
}

.dots {
  display: flex;
  gap: 0.8vw;
  justify-content: center;
  align-items: center;
}

.dots .swiper-pagination-bullet {
  width: 0.6vw;
  height: 0.6vw;
  border-radius: 50%;
  background: rgba(51, 51, 51, 1);
  transition: background 0.3s;
  cursor: pointer;
}

.dots .swiper-pagination-bullet-active {
  background: #222;
}

@font-face {
  font-family: "Futura PT";
  src: url("/fonts/Futura PT/FuturaPT-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("/fonts/Futura PT/FuturaPT-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("/fonts/Futura PT/FuturaPT-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("/fonts/Futura PT/FuturaPT-Heavy.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "First Time Writing!";
  src: url("/fonts/First Time Writing/FirstTimeWriting.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
