.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.6vw 0;
  background-color: white;
  z-index: 99;
  width: 100%;
}

.headerLeftBlock {
  display: flex;
  align-items: center;
  gap: 3.3vw;

  ul {
    display: flex;
    gap: 2vw;

    a {
      font-family: Moderustic;
      font-weight: 500;
      font-size: 0.8vw;
      line-height: 100%;
      letter-spacing: -0.01vw;
      color: var(--desc);
      transition: color 0.3s;
    }

    a:hover {
      color: black;
    }
  }
}

.headerLogo {
  width: 5vw;
  height: auto;
}

.headerRightBlock {
  display: flex;
  align-items: center;
  gap: 0.6vw;
}

.call {
  display: flex;
  align-items: center;
  background-color: var(--primary-pink);
  gap: 0.4vw;
  padding: 0.6vw;
  border-radius: 8.6vw;
  cursor: pointer;
  transition: background-color 0.3s;

  span {
    font-family: Futura PT;
    font-weight: 450;
    font-size: 0.9vw;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
  }

  .icon {
    width: 1.6vw;
    height: 1.6vw;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 0.8vw;
      height: 0.8vw;
    }
  }
}

.call:hover {
  background-color: var(--primary-pink-hover);
}

.mobileMenuBtn {
  display: none;
}

.callIconMobileCont {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 3.2vw 4.3vw;
  }

  .mobileMenuBtn {
    display: block;
    width: 13.9vw;
    height: 13.9vw;
    padding: 4.8vw 4.5vw;
    background-color: var(--primary-pink);
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 15.2vw;
  }

  .mobileMenuBtn:hover {
    background-color: var(--primary-pink-hover);
  }

  .headerLeftBlock {
    justify-content: center;
  }

  .headerLogo {
    width: 24.5vw;
    height: 10.7vw;
  }

  .hiddenOnMobile {
    display: none;
  }

  .call {
    padding: 0;
    .icon {
      display: none;
    }
  }

  .callIconMobileCont {
    display: block;
    width: 13.9vw;
    height: 13.9vw;

    padding: 4.8vw 4.5vw;
    background-color: var(--primary-pink);
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 15.2vw;
  }

  .callIconMobileCont:hover {
    background-color: var(--primary-pink-hover);
  }

  .callIconMobile {
    width: 4.8vw;
    height: 4.8vw;
  }
}
