.section {
  padding: 8vw 0;
  background-color: var(--primary-pink);
  position: relative;

  .sun {
    position: absolute;
    width: 8vw;
    top: 8.4vw;
    right: 10.6vw;
  }

  .flower {
    position: absolute;
    width: 8vw;
    bottom: 20vw;
    left: 5.1vw;
  }

  .svg {
    position: absolute;
    width: 6.5vw;
    bottom: 4.1vw;
    right: 12.6vw;
  }
}

.title {
  font-family: Futura PT;
  font-weight: 500;
  font-size: 3.3vw;
  line-height: 100%;
  color: rgba(255, 244, 241, 1);
  text-align: center;
  margin-bottom: 3.6vw;

  span {
    position: relative;
    font-family: "First Time Writing!";
    font-weight: 600;
    font-size: 2.8vw;
    line-height: 90%;
    color: var(--primary-yellow);

    svg {
      position: absolute;
      width: 100%;
      left: 0;
    }
  }
}
