@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.8vw);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotateFull {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(10deg);
  }
  50%{
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}

.section {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 5.7vw;
  align-items: center;
  padding: 8.3vw 0 8vw 0;

  .cloud1,
  .cloud2 {
    position: absolute;
    width: 8.3vw;
    animation: levitate infinite 6s;
  }

  .cloud1 {
    bottom: 8vw;
    left: 6vw;
  }

  .cloud2 {
    top: 5vw;
    right: 5vw;
    transform: rotate(-30deg);
  }
}

.imageContainer {
  max-width: 31.6vw;
  position: relative;

  .worm {
    position: absolute;
    right: -1.2vw;
    top: -1.1vw;
    width: 4.5vw;
    animation: rotateFull 4s ease-in-out infinite;
  }
}

.contentContainer {
  h2 {
    position: relative;
    font-family: Futura PT;
    font-weight: 500;
    font-size: 3.3vw;
    line-height: 100%;
    color: rgba(51, 51, 51, 1);
    max-width: 30vw;
    margin-bottom: 2vw;

    img {
      position: absolute;
      width: 9.2vw;
      top: 3vw;
      right: 0;
      animation: rotate 3s ease-in-out infinite;
    }
  }
}

.list {
  margin-bottom: 2vw;

  li {
    display: flex;
    align-items: center;
    gap: 0.8vw;

    svg {
      width: 1.6vw;
      height: 1.6vw;
    }

    p {
      font-family: Moderustic;
      font-weight: 500;
      font-size: 1.2vw;
      line-height: 135%;
      color: rgba(51, 51, 51, 1);
    }
  }

  li:not(:last-child) {
    margin-bottom: 1vw;
  }
}

.desc {
  span {
    position: relative;
    display: block;
    font-family: "First Time Writing!";
    font-weight: 600;
    font-size: 1.6vw;
    line-height: 130%;
    color: var(--primary-pink);
    width: fit-content;

    svg {
      position: absolute;
      width: 100%;
      left: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8.53vw;
    align-items: flex-start;
    padding: 26.6vw 4.26vw;

    .cloud1,
    .cloud2 {
      position: absolute;
      width: 24.8vw;
      animation: levitate infinite 6s;
    }

    .cloud1 {
      display: none;
    }

    .cloud2 {
      top: 19vw;
      right: auto;
      transform: rotate(-30deg);
    }
  }

  .imageContainer {
    max-width: none;
    width: 100%;
    height: 83vw;
    position: relative;
    img:last-child {
      height: 100%;
      object-fit: cover;
    }

    .worm {
      position: absolute;
      right: 0vw;
      top: -3.7vw;
      width: 13.8vw;
    }
  }

  .contentContainer {
    h2 {
      font-size: 9.6vw;
      color: rgba(51, 51, 51, 1);
      max-width: 72vw;
      margin-bottom: 7.53vw;
      line-height: 90%;
      font-weight: 450;
      -webkit-text-stroke-width: 0.1px;
      -webkit-text-stroke-color: #333;

      img {
        position: absolute;
        width: 27.4vw;
        top: 8.4vw;
        right: 0;
      }
    }
  }

  .list {
    margin-bottom: 8.5vw;

    li {
      display: flex;
      align-items: flex-start;
      gap: 3.2vw;

      svg {
        width: 6.4vw;
        min-width: 6.4vw;
        height: 6.4vw;
      }

      p {
        font-family: Moderustic;
        font-weight: 600;
        font-size: 4.26vw;
      }
    }

    li:not(:last-child) {
      margin-bottom: 5.33vw;
    }
  }

  .desc {
    position: relative;
    span {
      font-size: 5.33vw;
      display: inline;
      -webkit-text-stroke-width: 0.2vw;
    }
    svg {
      position: absolute;
      width: 81vw;
      left: 0;
    }
  }
}
