.footer {
  position: relative;
  /* background-color: var(--primary-pink); */
  padding: 5.2vw 0 3.1vw 0;
  background: radial-gradient(
    159.68% 159.68% at 50.03% 73.9%,
    #ff91b2 46.14%,
    #fff4f1 46.15%
  );
}

.logo {
  display: block;
  width: 5vw;
  margin: 0 auto;
  margin-bottom: 1.8vw;
}

.title {
  font-family: Futura PT;
  font-weight: 600;
  font-size: 3.3vw;
  line-height: 100%;
  text-align: center;
  color: rgba(255, 244, 241, 1);
  margin-bottom: 4vw;

  span {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    display: block;
    font-family: "First Time Writing!";
    font-weight: 600;
    font-size: 2.8vw;
    line-height: 90%;
    text-align: center;
    color: var(--primary-yellow);

    svg {
      position: absolute;
      width: 100%;
    }
  }
}

.footerNav {
  margin-bottom: 2.7vw;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      padding: 0 0.7vw;
      font-family: Moderustic;
      font-weight: 600;
      font-size: 1vw;
      line-height: 135%;
      color: rgba(255, 244, 241, 1);
    }
  }
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 1.2vw;
  justify-content: center;
  margin-bottom: 3.7vw;

  li {
    svg {
      width: 2.1vw;
      height: 2.1vw;
    }

    a {
      display: flex;
      align-items: center;
      gap: 0.8vw;
      font-family: Moderustic;
      font-weight: 600;
      font-size: 0.9vw;
      line-height: 135%;
      text-align: center;
      color: var(--primary-yellow);
    }
  }
}

.footerBottomContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: Moderustic;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 135%;
  color: rgba(255, 244, 241, 0.7);
  padding: 1.7vw 0;
  border-top: 2px solid rgba(255, 244, 241, 0.7);
  border-bottom: 2px solid rgba(255, 244, 241, 0.7);

  a:hover {
    color: white;
  }

  .dev {
    position: relative;
    opacity: 1;
    color: white;
  }

  .dev::after {
    position: absolute;
    left: 0;
    bottom: -0.3vw;
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
  }
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.8vw);
  }
  100% {
    transform: translateY(0);
  }
}

.cloud1,
.cloud2,
.cloud3,
.cloud4 {
  position: absolute;
  z-index: 9;
  animation: levitate 6s ease-in-out infinite;
}

.cloud1 {
  width: 10vw;
  top: 8.4vw;
  left: 8.1vw;
  animation-delay: 0s;
}
.cloud2 {
  width: 7.9vw;
  bottom: 6.8vw;
  left: 17.7vw;
  animation-delay: 1s;
}
.cloud3 {
  width: 8.3vw;
  right: 8.7vw;
  top: 9.2vw;
  animation-delay: 2s;
}
.cloud4 {
  width: 7.9vw;
  right: 18vw;
  bottom: 6.2vw;
  animation-delay: 3s;
}

@media screen and (max-width: 1024px) {
  .footer {
    overflow: hidden;
    padding-top: 26.7vw;
    padding-bottom: 21.3vw;

    background: radial-gradient(
      126% 54.01% at 52% 54%,
      rgb(255, 145, 178) 99.99%,
      rgb(255, 244, 241) 100%
    );
  }

  .logo {
    width: 25.6vw;
    margin-bottom: 12.8vw;
  }

  .title {
    font-size: 9.6vw;
    margin-bottom: 16vw;
    span {
      font-size: 8.5vw;
    }
  }

  .footerNav {
    margin-bottom: 8.5vw;
    ul {
      flex-direction: column;
      gap: 6.4vw;

      li {
        a {
          font-size: 4.3vw;
        }
      }
    }
  }

  .socialLinks {
    padding-right: 7.2vw;
    padding-left: 7.2vw;
    margin-bottom: 12.8vw;
    flex-wrap: wrap;
    gap: 6.4vw;
    li {
      width: 35.5vw;
      a {
        font-size: 4.3vw;
        svg {
          width: 10.7vw;
          height: 10.7vw;
        }
      }
    }
  }

  .cloud1 {
    width: 50vw;
    left: -39vw;
  }

  .cloud2 {
    width: 50vw;
    bottom: 47.8vw;
    left: -29.3vw;
  }

  .cloud3 {
    width: 50vw;
    top: -6.8vw;
    right: -17.3vw;
  }

  .cloud4 {
    display: none;
  }

  .footerBottomContainer {
    padding-top: 4.8vw;
    padding-bottom: 4.8vw;
    flex-direction: column;
    gap: 3.2vw;

    font-size: 4.3vw;

    .privacyPolicy {
      flex-direction: column;
      gap: 3.2vw;
      a {
        font-size: 4.3vw;
      }
    }

    .rights {
      display: none;
    }
  }
}
