.section {
  padding: 7vw 0 5.2vw 0;
}

.title {
  position: relative;
  text-align: center;
  font-family: Futura PT;
  font-weight: 500;
  font-size: 3.3vw;
  line-height: 100%;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 4vw;

  .stars {
    position: absolute;
    left: -1.5vw;
    top: -1.5vw;
    width: 3.4vw;
    height: auto;
  }

  span {
    position: absolute;
    right: -4vw;
    top: -0.8vw;
    font-family: "First Time Writing!";
    font-weight: 600;
    max-width: 5vw;
    font-size: 0.8vw;
    line-height: 90%;
    color: var(--primary-pink);
    transform: rotate(30deg);

    svg {
      position: absolute;
      width: 100%;
      left: 0;
      transform: rotate(-30deg);
      bottom: -1.7vw;
    }
  }
}

.list {
  display: flex;
  gap: 1.8vw;
  margin-bottom: 3.7vw;
}

.btn {
  display: block;
  width: max-content;
  position: relative;
  font-family: Futura PT;
  font-weight: 500;
  font-size: 1vw;
  line-height: 100%;
  padding: 1.6vw 3.7vw;
  border-radius: 5.2vw;
  background-color: var(--primary-pink);
  color: rgba(253, 248, 245, 1);
  margin: 0 auto;
  transition: background-color 0.3s;
  cursor: pointer;

  div {
    position: absolute;
    top: 0;
  }

  svg {
    height: 4.3vw;
    width: auto;
  }

  .first {
    left: -3.5vw;
    transform: rotate(180deg);
  }

  .second {
    right: -3.5vw;
  }
}

.btn:hover {
  background-color: var(--primary-pink-hover);
}

@media screen and (max-width: 1024px) {
  .section {
    padding-top: 13.3vw;
    padding-bottom: 13.3vw;

    .title {
      font-size: 9.6vw;

      span {
        max-width: 38.6vw;
        font-size: 4.3vw;
        top: -3vw;
        right: 19vw;
        transform: rotate(0deg);

        svg {
          display: none;
        }
      }

      .stars {
        width: 15.2vw;
        top: -11.5vw;
        left: -9.5vw;
      }
    }

    .btn {
      display: none;
    }
  }
}
