@keyframes width {
  0% {
    width: 3.4vw;
  }
  50% {
    width: 4vw;
  }
  100% {
    width: 3.4vw;
  }
}

.section {
  padding: 7vw 0 5.2vw 0;
}

.paginationCont {
  display: none;
}

div.swiper {
  display: none;
}

.title {
  position: relative;
  text-align: center;
  font-family: Futura PT;
  font-weight: 500;
  font-size: 3.3vw;
  line-height: 100%;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 4vw;

  .stars {
    position: absolute;
    left: -1.8vw;
    top: -1.8vw;
    width: 3.4vw;
    height: auto;
    animation: width 4s ease-in-out infinite;
  }

  span {
    position: absolute;
    right: -4vw;
    top: -0.8vw;
    font-family: "First Time Writing!";
    font-weight: 600;
    max-width: 5vw;
    font-size: 0.8vw;
    line-height: 90%;
    color: var(--primary-pink);
    transform: rotate(30deg);

    svg {
      position: absolute;
      width: 100%;
      left: 0;
      transform: rotate(-30deg);
      bottom: -1.7vw;
    }
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.8vw;
  margin-bottom: 3.7vw;
}

.btn {
  display: block;
  width: max-content;
  position: relative;
  font-family: Futura PT;
  font-weight: 500;
  font-size: 1vw;
  line-height: 100%;
  padding: 1.6vw 3.7vw;
  border-radius: 5.2vw;
  background-color: var(--primary-pink);
  color: rgba(253, 248, 245, 1);
  margin: 0 auto;
  transition: background-color 0.3s;
  cursor: pointer;

  div {
    position: absolute;
    top: 0;
  }

  svg {
    height: 4.3vw;
    width: auto;
  }

  .first {
    left: -3.5vw;
    transform: rotate(180deg);
  }

  .second {
    right: -3.5vw;
  }
}

.btn:hover {
  background-color: var(--primary-pink-hover);
}

@media screen and (max-width: 1024px) {
  @keyframes width {
    0% {
      width: 15.2vw;
    }
    50% {
      width: 17vw;
    }
    100% {
      width: 15.2vw;
    }
  }

  .section {
    padding-top: 13.3vw;
    padding-bottom: 13.3vw;

    .title {
      font-size: 9.6vw;
      margin-bottom: 10.7vw;
      font-weight: 450;

      span {
        max-width: 41.6vw;
        right: 16vw;
        top: -3vw;
        transform: rotate(0deg);

        font-size: 4.3vw;
        letter-spacing: -1px;
        -webkit-text-stroke-width: 0.2vw;

        svg {
          display: none;
        }
      }

      .stars {
        width: 15.2vw;
        top: -12.5vw;
        left: -10.5vw;
        animation: width 4s ease-in-out infinite;
      }
    }

    .btn {
      display: none;
    }

    .swiper {
      display: block;
      margin-bottom: 5.3vw;

      .swiperSlide {
        display: flex;
        height: auto;
      }
    }

    .paginationCont {
      display: flex;
      justify-content: center;

      p {
        background-color: black;
      }
    }

    .list {
      display: none;
    }
  }
}
