.section {
  overflow: hidden;
  background-color: var(--primary-pink);
  padding: 8.3vw 0;
}

.title {
  font-family: Futura PT;
  font-weight: 500;
  font-size: 3.3vw;
  line-height: 100%;
  letter-spacing: -2px;
  margin: 0 auto;
  width: 35vw;
  text-align: center;
  margin-bottom: 4.6vw;

  color: rgba(255, 244, 241, 1);

  span {
    position: relative;
    font-family: "First Time Writing!";
    font-weight: 600;
    font-size: 2.8vw;
    line-height: 90%;
    letter-spacing: -1%;
    text-align: center;
    color: var(--primary-yellow);
  }

  svg {
    position: absolute;
    width: 100%;
    left: 0;
  }
}

.servicesList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.8vw;
  margin-bottom: 4.6vw;

  li {
    position: relative;
    background-color: rgba(254, 251, 250, 1);
    padding: 2.8vw 2.1vw 1.6vw 2.1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4vw;
  }

  .plaster {
    position: absolute;
    z-index: 9;
    top: 0;
    img {
      width: 11vw;
      height: auto;
    }
  }

  li:first-child {
    .plaster {
      left: 0;
      transform: rotate(-30deg) translateY(-60%) translateX(-20%);
    }
  }

  li:last-child {
    .plaster {
      right: 0;
      transform: rotate(30deg) translateY(-60%) translateX(20%);
    }
  }

  .plasters {
    display: contents;

    .plaster:nth-child(1) {
      left: 0;
      transform: translateY(-40%) translateX(-60%);
    }
    .plaster:nth-child(2) {
      right: 0;
      transform: translateY(-40%) translateX(60%);
    }
  }

  .yellow {
    background-color: var(--primary-yellow);

    button {
      background-color: var(--primary-pink);
      color: white;
    }

    button:hover {
      background-color: var(--primary-pink-hover);
    }
  }

  .tagList {
    display: flex;
    gap: 0.7vw;
    margin-bottom: 2.2vw;

    p {
      font-family: Moderustic;
      font-weight: 700;
      font-size: 0.8vw;
      line-height: 135%;
      letter-spacing: -2%;
      color: var(--primary-pink);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      white-space: nowrap;
    }

    .tag {
      position: relative;

      span {
        display: block;
        width: 8.8vw;
        height: 100%;
      }
    }
  }

  .cardTitle {
    font-family: "First Time Writing!";
    font-weight: 600;
    font-size: 2.2vw;
    line-height: 120%;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 1.2vw;
  }

  .cardDesc {
    font-family: Moderustic;
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 135%;
    /* margin-bottom: 1.2vw; */
  }

  .priceInfo {
    display: flex;
    align-items: center;
    gap: 0.4vw;
    margin-bottom: 1.2vw;

    svg {
      width: 2vw;
      height: 2vw;
    }
  }

  .shortDesc {
    font-family: Moderustic;
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 135%;
    color: rgba(51, 51, 51, 0.6);
  }

  .cardPrice {
    font-family: Moderustic;
    font-weight: 600;
    font-size: 1vw;
    line-height: 135%;
    color: rgba(51, 51, 51, 1);

    span {
      font-family: Moderustic;
      font-weight: 600;
      font-size: 1.4vw;
      line-height: 135%;
    }
  }

  button {
    font-family: Futura PT;
    font-weight: 500;
    font-size: 1vw;
    line-height: 100%;
    width: 100%;
    padding: 1.6vw 0;
    background-color: var(--primary-blue);
    border-radius: 5.2vw;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--primary-blue-hover);
  }
}

.accordionList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.8vw; /* або інший відступ */
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    width: calc(50% - 0.9vw); /* мінус половина gap для двох колонок */
  }

  .tagList {
    display: flex;
    gap: 0.7vw;
    margin-bottom: 2.2vw;

    p {
      font-family: Moderustic;
      font-weight: 500;
      font-size: 0.8vw;
      line-height: 135%;
      letter-spacing: -2%;
      color: black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      white-space: nowrap;
    }

    .tag {
      position: relative;

      span {
        display: block;
        width: 8.8vw;
        height: 100%;
      }
    }
  }

  .cardDesc {
    font-family: Moderustic;
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 135%;
    margin-bottom: 1.2vw;
  }

  .priceInfo {
    display: flex;
    align-items: center;
    gap: 0.4vw;
    margin-bottom: 1.2vw;

    svg {
      width: 2vw;
      height: 2vw;
    }
  }

  .shortDesc {
    font-family: Moderustic;
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 135%;
    color: rgba(51, 51, 51, 0.6);
  }

  .cardPrice {
    font-family: Moderustic;
    font-weight: 600;
    font-size: 1vw;
    line-height: 135%;
    color: rgba(51, 51, 51, 1);

    span {
      font-family: Moderustic;
      font-weight: 600;
      font-size: 1.4vw;
      line-height: 135%;
    }
  }

  .btn {
    font-family: Futura PT;
    font-weight: 500;
    font-size: 1vw;
    line-height: 100%;
    width: 100%;
    padding: 1.6vw 0;
    background-color: var(--primary-blue);
    border-radius: 5.2vw;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  .btn:hover {
    background-color: var(--primary-blue-hover);
  }
}

@media screen and (max-width: 1024px) {
  .section {
    padding: 21.3vw 4.5vw;
    div {
      max-width: 100vw;
    }
  }

  .title {
    font-size: 9.6vw;
    width: auto;
    margin-bottom: 10.7vw;
    span {
      font-size: 9.6vw;
    }
  }

  /* SERVICES LIST */

  .servicesList {
    grid-template-columns: 1fr;
    gap: 6.4vw;
    margin-bottom: 12.3vw;

    li {
      padding: 6.4vw;

      .tagList {
        gap: 1.6vw;
        margin-bottom: 6.4vw;

        .tag {
          span {
            width: 35.2vw;
          }
        }

        p {
          font-size: 3.2vw;
        }
      }

      .cardTitle {
        font-size: 6.5vw;
        margin-bottom: 3.2vw;
      }

      .cardDesc {
        font-size: 3.7vw;
        margin-bottom: 6.4vw;
      }

      .priceInfo {
        gap: 2.7vw;
        margin-bottom: 4.3vw;

        svg {
          width: 5.3vw;
          height: 5.3vw;
        }

        .shortDesc {
          font-size: 3.7vw;
        }

        .cardPrice {
          font-size: 4.3vw;

          span {
            font-size: 4.3vw;
          }
        }
      }

      button {
        font-size: 4.3vw;
        padding: 6.4vw 0;
        border-radius: 26.7vw;
      }
    }

    .plaster {
      display: none;
    }
  }

  /* ACCORDION LIST */

  .accordionList {
    flex-direction: column;
    gap: 3.2vw;

    li {
      width: 100%;

      .tagList {
        gap: 2.1vw;
        margin-bottom: 10.1vw;

        .tag {
          span {
            width: 35.2vw;
          }
        }

        p {
          font-size: 3.2vw;
        }
      }

      .cardDesc {
        font-size: 3.7vw;
        margin-bottom: 9.9vw;
      }

      .priceInfo {
        gap: 2.7vw;
        margin-bottom: 4.3vw;

        svg {
          width: 5.3vw;
          height: 5.3vw;
        }

        .shortDesc {
          font-size: 3.7vw;
        }

        .cardPrice {
          font-size: 4.3vw;

          span {
            font-size: 4.3vw;
          }
        }
      }

      .btn {
        font-size: 4.3vw;
        padding: 6.4vw 0;
        border-radius: 26.7vw;
      }
    }
  }
}
