.section {
  overflow: hidden;
  background-color: var(--primary-pink);
  padding: 8.3vw 0;
}

.title {
  font-family: Futura PT;
  font-weight: 500;
  font-size: 3.3vw;
  line-height: 100%;
  letter-spacing: -2px;
  margin: 0 auto;
  width: 35vw;
  text-align: center;
  margin-bottom: 4.6vw;

  color: rgba(255, 244, 241, 1);

  span {
    position: relative;
    font-family: "First Time Writing!";
    font-weight: 600;
    font-size: 2.8vw;
    line-height: 90%;
    letter-spacing: -1%;
    text-align: center;
    color: var(--primary-yellow);
  }

  svg {
    position: absolute;
    width: 100%;
    left: 0;
  }
}

.servicesList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.8vw;
  margin-bottom: 4.6vw;

  li {
    position: relative;
    background-color: rgba(254, 251, 250, 1);
    padding: 2.8vw 2.1vw 1.6vw 2.1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4vw;
  }

  .plaster {
    position: absolute;
    z-index: 9;
    top: 0;
    img {
      width: 11vw;
      height: auto;
    }
  }

  li:first-child {
    .plaster {
      left: 0;
      transform: rotate(-30deg) translateY(-60%) translateX(-20%);
    }
  }

  li:last-child {
    .plaster {
      right: 0;
      transform: rotate(30deg) translateY(-60%) translateX(20%);
    }
  }

  .plasters {
    display: contents;

    .plaster:nth-child(1) {
      left: 0;
      transform: translateY(-40%) translateX(-60%);
    }
    .plaster:nth-child(2) {
      right: 0;
      transform: translateY(-40%) translateX(60%);
    }
  }

  .yellow {
    background-color: var(--primary-yellow);

    button {
      background-color: var(--primary-pink);
      color: white;
    }

    button:hover {
      background-color: var(--primary-pink-hover);
    }
  }

  .tagList {
    display: flex;
    gap: 3.5vw;
    margin-bottom: 2.2vw;

    p {
      font-family: Moderustic;
      font-weight: 700;
      font-size: 0.8vw;
      line-height: 135%;
      letter-spacing: -2%;
      color: var(--primary-pink);
    }

    .tag {
      position: relative;

      span {
        position: absolute;
        top: -70%;
        left: -15%;
        width: 8.8vw;
        height: 100%;
      }
    }
  }

  .cardTitle {
    font-family: "First Time Writing!";
    font-weight: 600;
    font-size: 2.2vw;
    line-height: 120%;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 1.2vw;
  }

  .cardDesc {
    font-family: Moderustic;
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 135%;
    /* margin-bottom: 1.2vw; */
  }

  .priceInfo {
    display: flex;
    align-items: center;
    gap: 0.4vw;
    margin-bottom: 1.2vw;

    svg {
      width: 2vw;
      height: 2vw;
    }
  }

  .shortDesc {
    font-family: Moderustic;
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 135%;
    color: rgba(51, 51, 51, 0.6);
  }

  .cardPrice {
    font-family: Moderustic;
    font-weight: 600;
    font-size: 1vw;
    line-height: 135%;
    color: rgba(51, 51, 51, 1);

    span {
      font-family: Moderustic;
      font-weight: 600;
      font-size: 1.4vw;
      line-height: 135%;
    }
  }

  button {
    font-family: Futura PT;
    font-weight: 500;
    font-size: 1vw;
    line-height: 100%;
    width: 100%;
    padding: 1.6vw 0;
    background-color: var(--primary-blue);
    border-radius: 5.2vw;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--primary-blue-hover);
  }
}

.accordionList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.8vw; /* або інший відступ */
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    width: calc(50% - 0.9vw); /* мінус половина gap для двох колонок */
  }

  .tagList {
    display: flex;
    gap: 3.5vw;
    margin-bottom: 2.2vw;
    padding-left: 1vw;

    p {
      font-family: Moderustic;
      font-weight: 700;
      font-size: 0.8vw;
      line-height: 135%;
      letter-spacing: -2%;
      color: var(--primary-pink);
    }

    .tag {
      position: relative;

      span {
        position: absolute;
        top: -70%;
        left: -15%;
        width: 8.8vw;
        height: 100%;
      }
    }
  }

  .cardDesc {
    font-family: Moderustic;
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 135%;
    margin-bottom: 1.2vw;
  }

  .priceInfo {
    display: flex;
    align-items: center;
    gap: 0.4vw;
    margin-bottom: 1.2vw;

    svg {
      width: 2vw;
      height: 2vw;
    }
  }

  .shortDesc {
    font-family: Moderustic;
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 135%;
    color: rgba(51, 51, 51, 0.6);
  }

  .cardPrice {
    font-family: Moderustic;
    font-weight: 600;
    font-size: 1vw;
    line-height: 135%;
    color: rgba(51, 51, 51, 1);

    span {
      font-family: Moderustic;
      font-weight: 600;
      font-size: 1.4vw;
      line-height: 135%;
    }
  }

  .btn {
    font-family: Futura PT;
    font-weight: 500;
    font-size: 1vw;
    line-height: 100%;
    width: 100%;
    padding: 1.6vw 0;
    background-color: var(--primary-blue);
    border-radius: 5.2vw;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  .btn:hover {
    background-color: var(--primary-blue-hover);
  }
}
