.react-tel-input {
  width: 100%;
  margin-top: 0.6vw;
}

.react-tel-input .form-control {
  width: 100% !important;
  color: #1d1d1d !important;
  font-feature-settings: "salt" on !important;
  font-family: Moderustic !important;
  font-weight: 400 !important;
  font-size: 0.8vw !important;
  line-height: 100% !important;
  padding: 0.1vw 1.2vw !important;
  height: 2.6vw !important;
  opacity: 0.6 !important;
  display: flex !important;
  align-items: center !important;
  align-self: stretch !important;
  border-bottom: 1px solid rgba(29, 29, 29, 0.2) !important;
  background: rgba(29, 29, 29, 0.05) !important;
  padding-left: 3vw !important;
  border: none !important;
  border-radius: 0.5vw !important;
}

.form-control.open .arrow {
  transform: rotate(180deg) !important;
}

.react-tel-input .flag-dropdown {
  background: transparent !important;
  border-radius: 8px 0 0 8px !important;
  padding-left: 1vw !important;
  height: 1vw !important;
  top: 50% !important;
  transform: translateY(-50%);
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag.open,
.react-tel-input .selected-flag:focus {
  background-color: transparent !important;
}

.react-tel-input .selected-flag {
  padding-left: 0 !important;
  height: 100%;

  .arrow {
    background-image: url(/images/form-arrow.svg);
    background-size: cover;

    width: 1.2vw;
    height: 1.2vw;
    border: none !important;
    margin: 0;
    top: -0.3vw;
  }
}

.react-tel-input .country-list {
  border-radius: 0 !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
  max-width: 10vw;
  left: 0;

  .country {
    .country-name {
      display: none;
    }
  }
}

.react-tel-input .selected-flag .arrow.up {
  transform: rotate(0) !important;
}

.react-tel-input .country-list::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1024px) {
  .react-tel-input .form-control {
    height: 13.8vw !important;
    font-size: 4.2vw !important;
    padding-left: 10vw !important;
  }

  .react-tel-input .flag-dropdown {
    padding-left: 2vw;
  }

  .react-tel-input .country-list {
    min-width: 40vw !important;
  }

  .react-tel-input .selected-flag {
    .arrow {
      width: 2.2vw;
      height: 1.6vw;
      top: 0 !important;
    }
  }
}
