.accordion {
  background-color: rgba(254, 251, 250, 1);
  padding: 2.1vw;
  overflow: hidden;
  height: max-content;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s;
}

.header {
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.title {
  font-family: "First Time Writing!";
  font-weight: 600;
  font-size: 2.2vw;
  line-height: 120%;
  letter-spacing: -2%;
  text-transform: uppercase;
}

.icon {
  background-color: var(--primary-blue);
  width: 2.7vw;
  height: 2.7vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;

  svg {
    width: 1.3vw;
    height: 1.1vw;
    transform: translateY(2px);
  }
}

.open {
  transform: rotate(180deg);
}

.contentWrapper {
  overflow: hidden;
}

.content {
  font-family: Moderustic;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 135%;
  padding-top: 3vw;
}

.faqStyle .content {
  padding-top: 1vw;
}

.accordion:hover {
  .icon {
    background-color: var(--primary-blue-hover);
  }
}

.faqStyle {
  .title {
    font-family: Moderustic;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 120%;
    text-transform: initial;
  }

  .icon {
    background-color: var(--primary-pink);
  }

  .content {
    padding-top: 3vw;
  }
}

.faqStyle:hover {
  border: 2px solid var(--primary-pink);

  .icon {
    background-color: var(--primary-pink);
  }
}

.faqStyle:has(.open) {
  border: 2px solid var(--primary-pink);
}
