.swiper-button-disabled {
  background-color: rgba(51, 51, 51, 0.05) !important;
  pointer-events: none;

  svg {
    stroke: rgba(51, 51, 51, 0.3) !important;
    fill: rgba(51, 51, 51, 0.3) !important;
  }
}
